body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
.hero {
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/60/84/a7/6084a7ef7276adc32dd895884f7255ca.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero .title {
  color: #ffffff;
  font-size: 3.5em
}
.hero .subtitle {
  color: #ffffff;
  font-size: 2em
}
.table {
  display: block;
  width: 100%;
  overflow-x: auto;
  padding: 10px;
}
.table__id {
  width: 100px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.table__item {
  font-size: 0.9em;
  font-weight: 500;
}
.table__rating {
  width: 130px;
}
.table__fb i {
  color: #4267b2;
  font-size: 2em;
  cursor: pointer;
}
.modal__fb i {
  color: #4267b2;
  font-size: 2em;
  cursor: pointer;
  margin: 0 10px;
}
.modal__title {
  font-size: 2em;
  font-weight: 700;
}